<figure class="text-justify m-5">
<div style="max-width: 50rem;">
  <h2>Example body text</h2>
  <p align="justify">Nullam quis risus eget vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Nullam id dolor id nibh ultricies vehicula
    hpñsdf sdopfjopsdgjj sdgpojjsdop
    gjsopdg sdpgoj dsgopjs dgsg dops jopsdj g sopdjgposj dpogjsopdj gpojgsjglñ´k jh jlñsd jhsklñjsd hsjohip j h sdfijshksj fhj irojhksj fdihj oirsj hij shjh iojsrihj shj isrh josirjhosi  hd</p>

</div>

</figure>


<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-fluid"  style="max-width: 50rem;">
      <h3 class="text-start">heeeeey</h3>
      <p align="justify">hoiasfhoiasf hoasifhasiofh ioasfh ish fisfh isfh ish faioh fish fish fioah efoih fieh fieh fiefh iehf i
        zidhuizdhgfoiadzhgzhvhd hzdui udh uedfh udhu sgufgh ug eu h geruhg ugh
        e ergu8i hurui ghiergh iugh iegh ieh iegh ie ghieg hieg ieh geruhgeg rgy9 jht ihrt+h r r.
      </p>

      <div class="card-group">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: lightblue;">Enrique</div>
          <div class="card-body">
            <h4 class="card-title">Fullstack Junior Developer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: lightgreen;">Sandra</div>
          <div class="card-body">
            <h4 class="card-title">Fullstack Junior Developer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header" style="background-color: lightgray;">Jesús</div>
          <div class="card-body">
            <h4 class="card-title">Back-end Junior Developer</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
