<div class="text-center my-4">
  <h1>Los comienzos de Aqua 404</h1>
  <div>
    Después de completar diversos cursos de programación y participar en varios proyectos de desarrollo de manera independiente,
    este grupo de amigos ha decidido unir fuerzas con el objetivo de contribuir al mundo del software libre. Nuestra colaboración
    no solo busca aportar al código abierto, sino también enriquecer sus propios conocimientos y habilidades a medida que avanzan
    en este apasionante proceso de aprendizaje y crecimiento profesional.
  </div>
  <h2 class="mt-5 mb-3">Miembros de Aqua 404</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-header bg-primary bg-opacity-25">Jesús</div>
        <div class="card-body">
          <h4 class="card-title">Back-end Junior Developer</h4>
          <p class="card-text">Se le nota la experiencia laboral.</p>
        </div>
        <div class="card-footer text-start">
          <div><a class="text-body-secondary" href="https://www.linkedin.com/in/enrique-francisco-mart%C3%ADn-de-la-sierra-espinosa-947218270/" target="_blank">LinkedIn</a></div>
          <div><a class="text-body-secondary" href="https://github.com/Enrique-MartindelaSierra" target="_blank">GitHub</a></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header bg-success bg-opacity-50">Sandra</div>
        <div class="card-body">
          <h4 class="card-title">Fullstack Junior Developer</h4>
          <p class="card-text">Es tan buena que no me explico como no tiene trabajo.</p>
        </div>
        <div class="card-footer text-start">
          <div><a class="text-body-secondary" href="https://www.linkedin.com/in/sandra-requena-filiu/" target="_blank">LinkedIn</a></div>
          <div><a class="text-body-secondary" href="https://github.com/srequenafiliu" target="_blank">GitHub</a></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header bg-info bg-opacity-50">Enrique</div>
        <div class="card-body">
          <h4 class="card-title">Fullstack Junior Developer</h4>
          <p class="card-text">Hace lo que puede.</p>
        </div>
        <div class="card-footer text-start">
          <div><a class="text-body-secondary" href="https://www.linkedin.com/in/jesús-martínez-garcía-b87246234/" target="_blank">LinkedIn</a></div>
          <div><a class="text-body-secondary" href="https://github.com/jesusmgit" target="_blank">GitHub</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
