<form (ngSubmit)="createQuery()" #form="ngForm">
  <div class="h1 text-center mt-3">Crear query</div>
  <div class="row g-0 my-3">
    <div class="col-6 my-auto">Antes de acceder al formulario, consulta el estado del servidor:</div>
    <div class="text-center col-3"><input class="btn btn-outline-info rounded" (click)="checkStatus()" value="Consultar servidor"></div>
    <div class="col-3 text-success text-center my-auto" *ngIf="status_ok">STATUS 200 OK</div>
  </div>
  <div class="bg-info bg-opacity-50 rounded p-3">
    <div id="inputs">
      <div class="d-flex align-items-center">
        <div class="h3 mb-0">Schema&nbsp;&nbsp;</div>
        <div class="form-floating">
          <input type="text" class="form-control rounded" name="schema-name" id="schema-name" placeholder="Nombre del schema"
          [(ngModel)]="query.name_db" autocomplete="off" required>
          <label for="name_table">Nombre del schema</label>
        </div>
      </div>
      <div class="tabla_datos border border-primary border-3 rounded m-2 p-2">
        <div class="d-flex align-items-center">
          <div class="h4 mb-0">Nueva tabla&nbsp;&nbsp;</div>
          <div class="form-floating">
            <input type="text" class="form-control rounded" name="name_table" id="name_table" placeholder="Nombre de la tabla"
            autocomplete="off" required>
            <label for="name_table">Nombre de la tabla</label>
          </div>
          <div class="d-flex align-items-center" id="addColumn">
            <div class="text-primary">&nbsp;&nbsp;Agregar&nbsp;</div>
            <select name="number-columns" #numberColumns>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <div class="text-primary">&nbsp;columna(s)</div>
            <button type="button" class="btn btn-outline-primary rounded ms-3" (click)="addColumn(+numberColumns.value)">Agregar</button>
          </div>
        </div>
        <div class="column p-3">
          <div class="d-flex align-items-center">
            <div class="h5 mb-0">Nueva columna&nbsp;&nbsp;</div>
            <div class="form-floating">
              <input type="text" class="form-control rounded" name="name_field" id="name_field"
              placeholder="Nombre de la columna" autocomplete="off">
              <label for="name_field">Nombre de la columna</label>
            </div>
          </div>
          <div>
            <span class="form-label text-primary fw-bold">Tipos de datos:&nbsp;</span>
            <div class="row g-0">
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="INTEGER" value="INTEGER" checked>
                <label class="form-check-label" for="INTEGER">INTEGER</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="VARCHAR" value="VARCHAR">
                <label class="form-check-label" for="VARCHAR">VARCHAR</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="DECIMAL" value="DECIMAL">
                <label class="form-check-label" for="DECIMAL">DECIMAL</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="TIMESTAMP" value="TIMESTAMP">
                <label class="form-check-label" for="TIMESTAMP">TIMESTAMP</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="BOOLEAN" value="BOOLEAN">
                <label class="form-check-label" for="BOOLEAN">BOOLEAN</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="FLOAT" value="FLOAT">
                <label class="form-check-label" for="FLOAT">FLOAT</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="types_data" id="ARRAY" value="ARRAY">
                <label class="form-check-label" for="ARRAY">ARRAY</label>
              </div>
            </div>
          </div>
          <div class="row g-0 my-1">
            <div class="col-4 form-floating">
              <input type="number" class="form-control rounded" name="size" id="size" placeholder="Longitud máxima del valor"
                autocomplete="off">
              <label for="size">Longitud máxima del valor</label>
            </div>
            <div class="col-8 text-danger my-auto">
              &nbsp;&nbsp;Este campo solo se guardará si el tipo de dato es VARCHAR
            </div>
          </div>
          <div class="row g-0">
            <div class="col-6 row g-0">
              <span class="col form-label text-primary fw-bold">Preferencias:&nbsp;</span>
              <div class="col form-check">
                <input class="form-check-input" type="checkbox" name="not-null" id="not-null">
                <label class="form-check-label" for="not-null">No puede ser nulo</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="checkbox" name="ai" id="ai">
                <label class="form-check-label" for="ai">Auto-incremental</label>
              </div>
            </div>
            <div class="col-6 row g-0">
              <span class="col form-label text-primary fw-bold">Tipo de clave:&nbsp;</span>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="keys" id="null" checked>
                <label class="form-check-label" for="null">Ninguna</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="keys" id="primary" value="primary">
                <label class="form-check-label" for="primary">Primaria</label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="keys" id="unique" value="unique">
                <label class="form-check-label" for="unique">Única</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Crear query</button>
  </div>
</form>
